# defaults
* @puppetlabs/puppetlabs/Puppetize2021 
* @Jlaffey-Puppet @matthewrstone
# this is a static repo of content used in a demo
# at Puppetize 2021.  There is no reason to edit this
# as it's there for attendees, and those watching the
# recording, to pull down.  No PRs should be permitted
